.ItemList {
    /*border: 1px solid black;*/
    margin: 0 20rem;
    width: auto;

}

.ItemTitle {
    /*border: 1px solid black;*/
    /* 사이즈에 맞게 자동으로 줄여줌 */
    width: fit-content;
    margin: 0 0 10px 10px;
}

.SlickBox {
    /*border: 1px solid red;*/
    /*width: 300px;*/
    position: relative;
    overflow: hidden;
}

.SlickBox:hover .SlickOverlay {
    opacity: 1; /* 마우스를 올렸을 때 보이도록 */
}

/*.swiper-slide {*/
/*    border: 1px solid red;*/
/*    width: 19rem !important;*/
/*}*/

.SlickImageContainer {
    /*border: 1px solid black;*/
    position: relative;
    text-align: center;
    transition: 0.3s ease;
    width: 300px;
    height: 300px;

    /*사진정렬*/
    margin: auto;
}

.SlickImage {
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
}

.SlickOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* 흐리게 할 색상 */
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.SlideImageInfoContainer {
    color: black;
    font-size: 16px;
}

.SlideImageInfoPrice {
    color: #000000;
    font-size: 18px;
}

.SlickInfoContainer {
    width: 19rem;
    margin: auto;
}

.SlickInfoTitle {
    /*border: 1px solid black;*/
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
}

.SlickInfoSubText {
    color: rgba(34, 34, 34, .5);
    font-weight: 400;
    font-size: 13px;
}

.SlickPrice {
    margin: -10px 0 10px 0;
}

/*.bestItemsList_Container {*/
/*    padding: 0 100px;*/
/*}*/

/*.slide-box {*/
/*    width: fit-content;*/
/*}*/

/*.best-items-title {*/
/*    width: 250px;*/
/*    padding-left: 60px;*/
/*    box-sizing: border-box;*/
/*}*/

/*.slide-image {*/
/*    width: 304px;*/
/*    height: 304px;*/
/*}*/

/*.image-container {*/
/*    display: flex;*/
/*    justify-content: center; !* 수평 가운데 정렬 *!*/
/*    align-items: center; !* 수직 가운데 정렬 *!*/
/*    height: 300px; !* 높이를 지정하여 가운데 정렬 효과를 줌 *!*/
/*    width: 300px;*/
/*    margin-left: 15%;*/
/*    overflow: hidden; !* 이미지가 컨테이너를 벗어나지 않도록 함 *!*/
/*}*/

/*.slide-image {*/
/*    max-width: 150%; !* 이미지가 컨테이너를 넘지 않도록 설정 *!*/
/*    max-height: 150%; !* 이미지가 컨테이너를 넘지 않도록 설정 *!*/
/*}*/

/*.slide-title {*/
/*    width: 20rem;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*}*/

/*.info-container {*/
/*    padding-left: 65px;*/
/*}*/

/*.sub-text {*/
/*    color: rgba(34, 34, 34, .5);*/
/*    font-weight: 400;*/
/*    font-size: 13px;*/
/*}*/

/*!* 반응형 디자인을 위한 미디어 쿼리 *!*/
/*@media (max-width: 1200px) {*/
/*    .bestItemsList_Container {*/
/*        padding: 0 50px; !* 패딩 조정 *!*/
/*    }*/

/*    .best-items-title {*/
/*        width: 200px; !* 제목 너비 조정 *!*/
/*        padding-left: 30px; !* 패딩 조정 *!*/
/*    }*/

/*    .image-container {*/
/*        width: 250px; !* 이미지 컨테이너 너비 조정 *!*/
/*        height: 250px; !* 높이 조정 *!*/
/*    }*/

/*    .slide-image {*/
/*        max-width: 100%; !* 이미지 최대 너비 조정 *!*/
/*        max-height: 100%; !* 이미지 최대 높이 조정 *!*/
/*    }*/

/*    .slide-title {*/
/*        font-size: 14px; !* 제목 폰트 크기 조정 *!*/
/*    }*/

/*    .info-container {*/
/*        padding-left: 30px; !* 패딩 조정 *!*/
/*    }*/
/*}*/

/*@media (max-width: 900px) {*/
/*    .slide-box {*/
/*        width: 50%; !* 슬라이드 박스를 전체 너비로 설정 *!*/
/*    }*/

/*    .image-container {*/
/*        width: 100%; !* 이미지 컨테이너 너비를 100%로 설정 *!*/
/*        height: 200px; !* 높이 조정 *!*/
/*    }*/

/*    .slide-title {*/
/*        font-size: 12px; !* 제목 폰트 크기 조정 *!*/
/*    }*/

/*    .sub-text {*/
/*        font-size: 11px; !* 서브 텍스트 폰트 크기 조정 *!*/
/*    }*/
/*}*/

/*@media (max-width: 600px) {*/

/*    .slide-box {*/
/*        width: 30%;*/
/*    }*/

/*    .best-items-title {*/
/*        width: auto; !* 제목 너비를 자동으로 설정 *!*/
/*        padding-left: 20px; !* 패딩 조정 *!*/
/*    }*/

/*    .slide-title {*/
/*        font-size: 10px; !* 제목 폰트 크기 조정 *!*/
/*    }*/

/*    .sub-text {*/
/*        font-size: 9px; !* 서브 텍스트 폰트 크기 조정 *!*/
/*    }*/
/*}*/
