/* components/LoadingSpinner.css */
.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 화면 중앙에 위치하도록 설정 */
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db; /* 스피너 색상 */
    border-radius: 50%;
    width: 50px; /* 스피너 크기 */
    height: 50px; /* 스피너 크기 */
    animation: spin 1s linear infinite; /* 회전 애니메이션 */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
